html {
  font-family: sans-serif;
  font-size: 18px;
  color: grey;
}

/* banner */

.banner{
  display: flex;
  justify-content: space-between;
}

.banner .left-items {
  display: flex;
  justify-content: flex-start;
}

.banner .left-items img {
  height: 3rem;
  margin-top: .5rem;
  margin-left: 1rem;
}

.banner .left-items h1 {
  position: absolute;
  top: 1.25rem;
  left: 3.75rem;
  font-weight: bold;
}

.banner .menu .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 3.25rem;
  margin-right: 25px;
}

/* principal banner */

.banner0 {
  display: flex;
  height: 27.15rem;
  width: auto;
  background-color: lightgrey;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.image-girls {
  width: 45%;
  padding-left: 7rem;
  margin-right: 1rem;
}

.image-girls img {
  max-height: 100%;
  max-width: 100%;
}

.banner0 .column-right {
  padding-top: 5rem;
  margin-left: 1rem;
  width: 16.5rem;
  display: flex;
  flex-direction: column;
}

.banner0 .column-right h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #ff0000;
}

.banner0 .column-right p {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.banner0 .column-right span {
  padding: 1rem;
  background-color: grey;
  text-align: center;
  color: white;
}

/* second banner */

.banner2 {
  display: flex;
  padding-top: 2rem;
}
.banner2 h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.banner2 .right-side span {
  color: blue;
  padding-top: 1rem;
}

.left-side {
  width: 55%;
  padding-left: 7rem;
  margin-right: 1rem;
}

.left-side img {
  max-height: 100%;
  max-width: 100%;
  padding-top: .5rem;
}

.banner2 .left-side h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2.5rem;
}

.left-side p {
 padding-top: 2.5rem;
 padding-bottom: 2.5rem;
}


.left-side span {
  color: blue;
  font-size: 12px;

}

.right-side {
  height: 40rem;
  display: flex;
  flex-direction: column;
}

.banner2 .right-side .top-slide {
  display: flex;
  flex-direction: row;
}

.top-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.top-slide img {
  padding: .5rem;
  object-fit: cover;
}

.banner2 .right-side .middle-slide {
  display: flex;
  flex-direction: row;
}

.middle-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.middle-slide img {
  padding: .5rem;
  object-fit: cover;
}

.banner2 .right-side .bottom-slide {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
}

.bottom-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.bottom-slide img {
  padding: .5rem;
  object-fit: cover;
}

/* third banner */

.banner3 {
  display: flex;
  height: 56rem;
  width:  auto;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  margin-top: 2.5rem;
}

.banner3 h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2.25rem;
}

.classes {
  display: flex;
  height: 50rem;
  width: 75rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 1;

}

.classes img {
  width: 20rem;
  height: auto;

}

.classes > div {
  background-color: white;
  width: 20rem;
  height: 20rem;
  padding: .5rem;
}

.classes h2 {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.classes span {
  font-style: oblique;
}

.classes p {
  padding-top: .5rem;
}

/* fourth banner */

.thesis {
  display: flex;
  padding-top: 2rem;
}

.thesis h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  z-index: 2;
  color: red;
}

.left-column {
  width: 45%;
  padding-left: 7rem;
  margin-right: 1rem;
}

.left-column video {
  max-height: 100%;
  max-width: 100%;
  padding-top: .5rem;
}

.fisma {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
  background-color: lightgrey;
  margin-top: .50rem;
}

.now-then {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1rem;

}

.now-then-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.fisma-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.fisma img {
  padding: .5rem;
  object-fit: cover;
}

.now-then img {
  padding: .5rem;
  object-fit: cover;
}

.banner4 h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2.25rem;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  border-top: thick double #ff0000;
}





/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
